@import "src/colors";

.container {
	padding: 15px 0;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	.categories {
		&::-webkit-scrollbar {
			display: none;
		}
		display: flex;
		align-items: center;
		gap: 10px;
		overflow: scroll;
		position: relative;
		.category {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			padding: 0 10px;
			height: 36px;
			border-radius: 20px;
			border: 1px solid transparent;
			box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
			input {
				font-weight: 500;
				font-size: 1.07rem;
			}
			.info {
				display: flex;
				align-items: center;
				gap: 9px;
				.name {
					font-size: 1.07rem;
					font-weight: 500;
					white-space: nowrap;
				}
				.count {
					font-size: 0.78rem;
					font-weight: 600;
					color: $white;
					height: 20px;
					width: fit-content;
					padding: 2px 7px;
					border-radius: 20px;
				}
			}
			&.active {
				.name {
					color: $white !important;
				}
				.count {
					color: $black;
					background: $white !important;
				}
			}
			//temp
			.deleteBtn {
				// position: absolute;
				// right: -13px;
				// top: 50%;
				transform: translateX(4px);
				border: none;
				background: none;
				font-size: 1.2rem;
				width: 18px;
				height: 22px;
				// opacity: 0;
				transition: 0.5s;
				color: white;
				// border: 1px solid #8a8a8a;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				display: none;
			}
			&.active:hover .deleteBtn {
				display: flex;
			}
		}
	}
	.addBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: none;
		box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
		min-width: 25px;
		height: 25px;
		cursor: pointer;
		transition: 0.5s;
		background: $blue;
		color: $white;
		opacity: 0.2;
		&:hover {
			opacity: 1;
		}
	}
}
