@import "src/colors.scss";

.input {
	font-weight: 400;
	font-size: 1rem;
	color: $black;
	outline: none;
	border: none;

	&.primary {
		border-radius: 15px;
		background: $white;
		border: 1px solid #dadce0;
		padding: 10px 20px;
	}

	&.transparent {
		background: transparent;
		padding: 0;
	}

	&::placeholder {
		color: $placeholder;
		font-weight: 400;
		font-size: 1rem;
		line-height: 19px;
	}
}
