@import "src/colors";

.container {
	width: 100%;
	background: $white;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
	cursor: pointer;
	display: flex;
	gap: 10px;
	.checkbox input {
		cursor: pointer;
		width: 15px;
		height: 15px;
		transform: translateY(2px);
	}
	.text {
		width: 100%;
		textarea {
			resize: none;
			min-width: 100%;
			max-width: 100%;
		}
	}
	&.checked {
		text-decoration: line-through;
		color: lightgray;
	}
	.deleteBtn {
		display: none;
		width: 5px;
	}
	&.showMore:hover {
		.deleteBtn {
			display: block;
		}
	}
}
